In [2]:
%%html
<style>
    #notebook-container{
    width: 100%
    }
</style>

In [3]:
import numpy as np #importing necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.stats as sm_stat

from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn import linear_model
from sklearn.model_selection import cross_val_score
from scipy import stats


sns.set()

In [4]:
# telco_df = pd.read_csv('telco.txt', sep='\t') #load dataset
telco_df = pd.read_csv('https://raw.githubusercontent.com/kai-wren/Statistic/master/telco.txt', sep='\t') #load dataset
telco_df.head()

,tenure,age,marital,address,income,ed,employ,retire,gender,longmon,wiremon,churn
1,13,44,Married,9,64,College degree,5,No,Male,3.70,0.0,Yes
2,11,33,Married,7,136,Post-undergraduate degree,5,No,Male,4.40,35.7,Yes
3,68,52,Married,24,116,Did not complete high school,29,No,Female,18.15,0.0,No
4,33,33,Unmarried,12,33,High school degree,0,No,Female,9.45,0.0,Yes
5,23,30,Married,9,30,Did not complete high school,2,No,Male,6.30,0.0,No

# Problem 6: Regression techniques

In this problem we use the same data set on service usage of 1000 clients of a telecommunication company as in Assignment 2. The variable "tenure" is taken as the dependent variable and the remaining variables as explanatory. <br>

## Subtask 1.

The lasso regression is an alternative approach to variable selection. <br>

### Part (a)
Explain in your own words the idea of the lasso regression. Sketch a situation when a simple linear regression fails, but the lasso regression still can be estimated.

### Part (b)

For the usual regression model the variables are rarely normalized/standardized. However, in the case of the lasso regression the scaling becomes crucial. Why? Scale your data by $(x_i - \bar x)/\hat \sigma_x$. Can/should the binary variables be scaled in the same fashion? How would you handle the variable "ed"?

In [10]:
telco_df.tenure = (telco_df.tenure-telco_df.tenure.mean()) / telco_df.tenure.std()
telco_df.age = (telco_df.age-telco_df.age.mean()) / telco_df.age.std()
telco_df.address = (telco_df.address-telco_df.address.mean()) / telco_df.address.std()
telco_df.income = (telco_df.income-telco_df.income.mean()) / telco_df.income.std()
telco_df.employ = (telco_df.employ-telco_df.employ.mean()) / telco_df.employ.std()
telco_df.longmon = (telco_df.longmon-telco_df.longmon.mean()) / telco_df.longmon.std()
telco_df.wiremon = (telco_df.wiremon-telco_df.wiremon.mean()) / telco_df.wiremon.std()

telco_df.head()

,tenure,age,marital,address,income,ed,employ,retire,gender,longmon,wiremon,churn
1,-1.054597,0.184412,Married,-0.252908,-0.126443,College degree,-0.593825,No,Male,-0.774170,-0.587436,Yes
2,-1.148231,-0.691466,Married,-0.451189,0.546176,Post-undergraduate degree,-0.593825,No,Male,-0.706625,1.222962,Yes
3,1.520332,0.821415,Married,1.234202,0.359338,Did not complete high school,1.786634,No,Female,0.620148,-0.587436,No
4,-0.118259,-0.691466,Unmarried,0.044514,-0.416043,High school degree,-1.089755,No,Female,-0.219337,-0.587436,Yes
5,-0.586428,-0.930342,Married,-0.252908,-0.444069,Did not complete high school,-0.891383,No,Male,-0.523289,-0.587436,No